body {
  display: flex;
  flex-direction: column;
  /* Revisit to learn how to download and use free fonts */
  font-family: Roboto, Verdana, Arial, sans-serif;
  margin: 0;
}

.header,
.hero-text-container,
.footer {
  background-color: #1F2937;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 24px;
}

a {
  text-decoration: 0;
  font-size: 18px;
  color: #E5E7EB;
}

.hero-text-container {
  display: flex;
  padding: 100px;
  gap: 50px;
  justify-content: center;
}

.hero-text {
  flex-shrink: 0;
  flex-basis: 450px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #F9FAF8;
  margin: 0;
  margin-bottom: 8px;
}

.hero-text p {
  font-size: 18px;
  color: #E5E7EB;
  margin: 0;
  margin-bottom: 16px;
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
  border: none;
  border-radius: 8px;
  padding: 8px 32px;
  font-size: 16px;
  font-weight: bold;
}

.hero-image {
  flex-shrink: 0;
  flex-basis: 500px;
  height: 250px;
  color: #E5E7EB;
  background-color: #6D747E;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  color: #E5E7EB;
  padding: 24px;
  text-align: center;
}