body {
  display: flex;
  flex-direction: column;
  /* Revisit to learn how to download and use free fonts */
  font-family: Roboto, Verdana, Arial, sans-serif;
  margin: 0;
}

.header,
.hero-text-container,
.footer {
  background-color: #1F2937;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 24px;
}

a {
  text-decoration: 0;
  font-size: 18px;
  color: #E5E7EB;
}

.hero-text-container {
  display: flex;
  padding: 100px;
  gap: 50px;
  justify-content: center;
}

.hero-text {
  flex-shrink: 0;
  flex-basis: 450px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #F9FAF8;
  margin: 0;
  margin-bottom: 8px;
}

.hero-text p {
  font-size: 18px;
  color: #E5E7EB;
  margin: 0;
  margin-bottom: 16px;
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
  border: none;
  border-radius: 8px;
  padding: 8px 32px;
  font-size: 16px;
  font-weight: bold;
}

.hero-image {
  flex-shrink: 0;
  flex-basis: 500px;
  height: 250px;
  color: #E5E7EB;
  background-color: #6D747E;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.information-header {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  text-align: center;
  margin: 50px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 100px;
}

.card {
  flex-shrink: 0;
  flex-basis: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.card-image {
  width: 150px;
  height: 150px;
  border: 4px solid #3882F6;
  border-radius: 8px;
}

.card-info {
  font-size: 18px;
  color: #85878C;
  text-align: center;
}

.quote-container {
  background-color: #E5E7EB;
  padding: 100px 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-container p {
  margin: 0;
  width: 800px;
  color: #1F2937;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: light;
}

.quote-author {
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}

.call-to-action-container {
  padding: 100px;
  display: flex;
  justify-content: center;
}

.call-to-action {
  background-color: #3882F6;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  width: 950px;
  flex-shrink: 0;
}

h3,
p {
  margin: 4px;
}

.call-to-action-text {
  color: #F9FAF8;
  font-size: 18px;
  flex-shrink: 0;
}

.call-to-action button {
  border: 2px solid #F9FAF8;
  flex-shrink: 0;
}

.footer {
  color: #E5E7EB;
  padding: 36px;
  text-align: center;
}